@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Myeongjo&family=Russo+One&family=Unbounded:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.gameWithComputer{
    height: 100vh;
    width: 100%;
    position: relative;
}

.bgGameWithComputer{
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: all;
    /* animation: BackgroundImage 5s 100ms infinite ease-in alternate-reverse; */
}


.yourName{
    font-size: 90px;
    max-width: 40%;
    color: rgb(255, 0, 0);
    position: absolute;
    bottom: 40%;
    left: 10%;
    z-index: 10;
    border-right: 3px solid red;
    z-index: -1;
}

.ModalSetting{
    
}

.opponentName{
    font-size: 90px;
    color: rgb(10, 241, 171);
    position: absolute;
    bottom: 40%;
    right: 10%;
    margin-left: 10px;
    padding: 5px;
    max-width: 40%;
    text-align: right;
    border-left: 4px solid green;
    z-index:-1;
}


.startGameBtn{
    padding: 12px 70px;
    margin-top: 25px;
    background-image: linear-gradient(to right, #5170ff , #7843E6);
    border: 1px solid #fd2cfd;
    box-shadow:2px 2px 1px #fd2cde;
    color: rgb(255, 255, 255);
    transition: all 100ms;
    cursor: pointer;
    font-family: 'Bungee Shade', cursive;
    font-size: 19px;
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 400px;
}

.startGameBtn:hover{
    color: rgb(0, 225, 255);
    background-image: linear-gradient(to right,  #7843E6 ,#5170ff);
}

.gameWithComputerInitialWrapper{

}



.computerCounter{
    color: yellow;
    font-size: 50px;
    position: absolute;
    width: 100%;
    left: 0%;
    text-align: center;
    top: 1%;
}

.computerWrapperDiv1{
    display: flex;
    position: absolute;
    width: 100%;
    padding: 50px 20px;
    top: 16%;
    height: 60%;
    /* border: 1px dashed red; */
    justify-content: space-around;
    align-items: flex-start;
}

.computerGameFirstPhase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px dashed green; */
    /* flex: 2; */
    /* border-right: 5px solid rgb(0, 255, 204); */
    transition: all 5s;
}

.computerSelectHeading{
    text-align: center;
    color: white;
    font-size: 38px;
}

.computerGameOptions{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    /* border: 1px dashed red; */
}

.computerGameSecondPhase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px dashed rgb(147, 255, 147); */
    /* flex: 1; */
}

.computerOpponentHeading{
    text-align: center;
    color: white;
    font-size: 38px;
}

.computerOpponentSelectedDiv{
    height: 175px;
    width: 175px;
    /* border: 1px dashed burlywood; */
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computerOpponentSelectedOptionImg{
    
}

.computerGameOptionOpponent{
    /* border: 1px dashed red; */
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computerGameOptionOpponent :hover{
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: #798fff40;
    border-radius: 10px;
    cursor: pointer;
}

.computerResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 20px;
    bottom: 3%;
    /* border: 1px dashed rgb(255, 255, 255); */
}

.computerResult p{
    color: white;
    font-size: 25px;
}

.computerOptionImg{
    height: 90%;
    width: 90%;
    filter: invert(70%) sepia(68%) saturate(5751%) hue-rotate(245deg) brightness(103%) contrast(80%);
}

.computerStoneDiv{
    height: 175px;
    width: 175px;
    /* border: 1px dashed burlywood; */
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computerStoneDiv :hover{
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: #798fff40;
    border-radius: 10px;
    cursor: pointer;
}

.computerPaperDiv{
    height: 175px;
    width: 175px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computerPaperDiv :hover{
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: #798fff40;
    border-radius: 10px;
    cursor: pointer;
}

.computerScissorsDiv{
    height: 175px;
    width: 175px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computerScissorsDiv :hover{
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: #798fff40;
    border-radius: 10px;
    cursor: pointer;
}

.computerSelectedOption{
    border-radius: 10px;
    filter: invert(74%) sepia(99%) saturate(4865%) hue-rotate(87deg) brightness(127%) contrast(114%);
}

.primary{
    background-color: red;
}

.starDiv{
    height: 70px;
    width: 70px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starSVGGreen{
    height: 90%;
    width: 90%;
    filter: invert(92%) sepia(3%) saturate(7495%) hue-rotate(31deg) brightness(98%) contrast(113%);
}
.starSVGRed{
    height: 90%;
    width: 90%;
    filter: invert(34%) sepia(67%) saturate(2484%) hue-rotate(340deg) brightness(99%) contrast(106%);
}
.starSVGDraw{
    height: 90%;
    width: 90%;
    filter: invert(14%) sepia(67%) saturate(24%) hue-rotate(340deg) brightness(99%) contrast(106%);
}

.starsResult{
    display: flex;
    width: 100%;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;
}

.gameOverDiv h1 {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    color: rgb(226, 41, 255);
    font-family: 'Anton', sans-serif;
    font-size: 80px;
}
.gameFinalResultDiv h1{
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    color: rgb(77, 255, 41);
    font-family: 'Russo One', sans-serif;
    font-size: 100px;
}

.informationDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    position: absolute;
    top: 0;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .startGameBtn {
        width: 90%;
    }
    .yourName{
        font-size: 50px;
        max-width: 40%;
        color: rgb(255, 0, 0);
        position: absolute;
        top: 10%;
        left: 5%;
        z-index: 10;
        z-index: -1;
        border-right: none;
    }
    
    .ModalSetting{
        
    }
    
    .opponentName{
        font-size: 50px;
        color: rgb(10, 241, 171);
        position: absolute;
        top: 40%;
        right: 0%;
        width: 100%;
        padding: 10px;
        
        text-align: left;
        border-left: none;
        z-index:10;
    }



    .computerCounter{
        font-size: 30px;
    }

    .computerWrapperDiv1{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        padding: 10px 10px;
        top: 16%;
        /* height: 60%; */
        /* border: 1px dashed red; */
        justify-content: space-around;
        align-items:center;
    }

    .friendChatting {
        min-height: 300px;
        min-width: 90%;
        width: 100%
    }
    
    .computerGameFirstPhase{
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 5s;
    }
    
    .computerSelectHeading{
        text-align: center;
        color: white;
        font-size: 16px;
    }
    
    .computerGameOptions{
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        /* border: 1px dashed red; */
    }
    
    .computerGameSecondPhase{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 1px dashed rgb(147, 255, 147); */
        /* flex: 1; */
    }
    
    .computerOpponentHeading{
        margin-top: 10px;
        text-align: center;
        color: white;
        font-size: 18px;
    }
    
    .computerOpponentSelectedDiv{
        height: 100px;
        width: 100px;
        /* border: 1px dashed burlywood; */
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .computerOpponentSelectedOptionImg{
        
    }
    
    .computerGameOptionOpponent{
        /* border: 1px dashed red; */
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .computerGameOptionOpponent :hover{
        height: 100px;
        width: 100px;
        padding: 10px;
        /* background-color: #798fff40; */
        border-radius: 10px;
        cursor: pointer;
    }
    
    .computerResult{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        padding: 20px;
        bottom: 3%;
        /* border: 1px dashed rgb(255, 255, 255); */
    }
    
    .computerResult p{
        color: white;
        font-size: 25px;
        text-align: center;
    }
    
    .computerOptionImg{
        height: 90%;
        width: 90%;
        filter: invert(70%) sepia(68%) saturate(5751%) hue-rotate(245deg) brightness(103%) contrast(80%);
    }
    
    .computerStoneDiv{
        height: 100px;
        width: 100px;
        /* border: 1px dashed burlywood; */
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .computerStoneDiv :hover{
        height: 120px;
        width: 120px;
        padding: 10px;
        background-color: #798fff40;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .computerPaperDiv{
        height: 100px;
        width: 100px;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .computerPaperDiv :hover{
        height: 120px;
        width: 120px;
        padding: 10px;
        background-color: #798fff40;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .computerScissorsDiv{
        height: 100px;
        width: 100px;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .computerScissorsDiv :hover{
        height: 120px;
        width: 120px;
        padding: 10px;
        background-color: #798fff40;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .computerSelectedOption{
        height: 120px;
        width: 120px;
        padding: 10px;
        border-radius: 10px;
        filter: invert(74%) sepia(99%) saturate(4865%) hue-rotate(87deg) brightness(127%) contrast(114%);
    }
    .computerSelectedWrongOption{
        height: 120px;
        width: 120px;
        padding: 10px;
        border-radius: 10px;
        filter: invert(17%) sepia(94%) saturate(7489%) hue-rotate(360deg) brightness(100%) contrast(113%);
    }
    .computerSelectedDrawOption{
        height: 120px;
        width: 120px;
        padding: 10px;
        border-radius: 10px;
        filter: invert(35%) sepia(54%) saturate(6270%) hue-rotate(217deg) brightness(98%) contrast(88%);
    }

    
    .primary{
        background-color: red;
    }
    
    .starDiv{
        height: 70px;
        width: 70px;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .starSVGGreen{
        height: 90%;
        width: 90%;
        filter: invert(92%) sepia(3%) saturate(7495%) hue-rotate(31deg) brightness(98%) contrast(113%);
    }
    .starSVGRed{
        height: 90%;
        width: 90%;
        filter: invert(34%) sepia(67%) saturate(2484%) hue-rotate(340deg) brightness(99%) contrast(106%);
    }
    .starSVGDraw{
        height: 90%;
        width: 90%;
        filter: invert(14%) sepia(67%) saturate(24%) hue-rotate(340deg) brightness(99%) contrast(106%);
    }
    
    .starsResult{
        display: flex;
        width: 100%;
        padding: 10px 30px;
        align-items: center;
        justify-content: center;
    }
    
    .gameOverDiv h1 {
        padding-top: 80px;
        padding-bottom: 50px;
        text-align: center;
        color: rgb(226, 41, 255);
        font-family: 'Anton', sans-serif;
        font-size: 80px;
    }
    .gameFinalResultDiv h1{
        padding-top: 80px;
        padding-bottom: 50px;
        text-align: center;
        color: rgb(77, 255, 41);
        font-family: 'Russo One', sans-serif;
        font-size: 100px;
    }
    
    .informationDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .information{
        position: absolute;
        top: 0;
        color: white;
        font-weight: bold;
    }
    
}
